<h1>Marvel Character Search!!</h1>

<form action="/search" method="get">
    <input type="text" name="search" id="search" placeholder="search" class="form-control">
    <button type="submit" class="btn btn-primary mt-3">Search!</button>
</form>